.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider-value {
  margin-left: 1rem;
}

.alter-container {
  height: 1.5rem;
  margin-top: 2rem;
}

.changeDate,
#days {
  height: 100%;
}
